# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build VS Code Extension

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: |
          npm install
          cd plugin-explorer
          npm install
          cd ../starter
          npm install
          cd ../preview
          npm install          
          npm install -g @vscode/vsce

      - name: Lint
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build

      - name: Upload release bundle
        uses: actions/upload-artifact@v4
        with:
          name: webnative.vsix
          path: ./webnative-*.vsix
          retention-days: 60
      - name: Publish to open-vsx.org (For Windsurf, VSCodium etc)
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          VERSION=$(jq -r '.version' package.json)
          MAJOR=$(echo $VERSION | cut -d. -f1)
          MINOR=$(echo $VERSION | cut -d. -f2)
          NEW_VERSION="$MAJOR.$MINOR.${{ github.run_number }}"
          npx ovsx publish ./webnative-${NEW_VERSION}.vsix -p ${{ secrets.OPEN_VSX_TOKEN }}
      - name: Publish to VS Marketplace
        if: ${{ github.ref == 'refs/heads/main' }}
        run: npx vsce publish --packagePath ./webnative-*.vsix -p ${{ secrets.VSCE_PAT }}
